# Compiler files
cache/
out/

# Broadcast logs
broadcast/

# Dependencies (managed by soldeer)
dependencies/

# Dotenv file
.env

# Node modules
node_modules/

# mcp files
mcp/
*.mcp
.mcp.json

# vs code settings
.vscode/